.statusbar {
    background-image: url("../../graphic_assets/status_bar/progress3.png");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 474px;
    height: 106px;
    top: 156px;
    left: 446px;
    z-index: 100;
}

.title {
    /* 특징 검색 */

    position: absolute;
    width: 97px;
    height: 23px;
    left: calc(50% - 97px/2 - 0.5px);
    top: 91px;

    font-family: 'The Jamsil OTF';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    /* or 200% */
    display: flex;
    align-items: center;
    text-align: center;

    /* On Background/1 */
    color: #252525;

    z-index: 100;

}

.t0 {
    background-image: url("../../graphic_assets/beak/3_1.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.t0.active {
    background-image: url("../../graphic_assets/beak/3_1.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    outline: 6px solid #123F3C;
    border-radius: 16px;
}

.t1 {
    background-image: url("../../graphic_assets/beak/3_2.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.t1.active {
    background-image: url("../../graphic_assets/beak/3_2.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    outline: 6px solid #123F3C;
    border-radius: 16px;
}

.t2 {
    background-image: url("../../graphic_assets/beak/3_3.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.t2.active {
    background-image: url("../../graphic_assets/beak/3_3.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    outline: 6px solid #123F3C;
    border-radius: 16px;
}

.t3 {
    background-image: url("../../graphic_assets/beak/3_4.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.t3.active {
    background-image: url("../../graphic_assets/beak/3_4.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    outline: 6px solid #123F3C;
    border-radius: 16px;
}

.t4 {
    background-image: url("../../graphic_assets/beak/3_5.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
.t4.active {
    background-image: url("../../graphic_assets/beak/3_5.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 208px;
    height: 300px;
    margin: 10px;
    outline: 6px solid #123F3C;
    border-radius: 16px;
}