.statusbar {
    background-image: url("../../graphic_assets/status_bar/progress3.png");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 474px;
    height: 106px;
    top: 156px;
    left: 446px;
    z-index: 100;
}

.title {
    /* 특징 검색 */

    position: absolute;
    width: 97px;
    height: 23px;
    left: calc(50% - 97px/2 - 0.5px);
    top: 91px;

    font-family: 'The Jamsil OTF';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    /* or 200% */
    display: flex;
    align-items: center;
    text-align: center;

    /* On Background/1 */
    color: #252525;

    z-index: 100;

}

.number {
    /* Question.1 */

    position: absolute;
    width: 120px;
    height: 21px;
    left: calc(50% - 106px/2 - 514px);
    top: 347px;

    font-family: 'The Jamsil OTF';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 48px;
    /* or 240% */
    display: flex;
    align-items: center;

    color: rgba(18, 63, 60, 0.75);
}

.question {
    /* 거의 다 왔어요! 새의 부리 모양은 어땠나요? */

    position: absolute;
    width: 643px;
    height: 58px;
    left: calc(50% - 643px/2 - 245.5px);
    top: 369px;

    font-family: 'The Jamsil OTF';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 48px;
    /* or 141% */
    display: flex;
    align-items: center;

    /* On Background/1 */
    color: #252525;

}

.t0 {
    background-image: url("../../graphic_assets/beak/3_1.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 117px;
}
.t0.active {
    background-image: url("../../graphic_assets/beak/3_1_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 117px;
}

.t1 {
    background-image: url("../../graphic_assets/beak/3_2.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 345px;
}
.t1.active {
    background-image: url("../../graphic_assets/beak/3_2_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 345px;
}

.t2 {
    background-image: url("../../graphic_assets/beak/3_3.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 573px;
}
.t2.active {
    background-image: url("../../graphic_assets/beak/3_3_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 573px;
}

.t3 {
    background-image: url("../../graphic_assets/beak/3_4.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 801px;
}
.t3.active {
    background-image: url("../../graphic_assets/beak/3_4_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 801px;
}

.t4 {
    background-image: url("../../graphic_assets/beak/3_5.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 1029px;
}
.t4.active {
    background-image: url("../../graphic_assets/beak/3_5_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 208px;
    height: 300px;
    top: 474px;
    left: 1029px;
}