.statusbar {
    background-image: url("../../graphic_assets/status_bar/progress2.png");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    position: absolute;
    width: 474px;
    height: 106px;
    top: 156px;
    left: 446px;
    z-index: 100;
}

.title {
    /* 특징 검색 */

    position: absolute;
    width: 97px;
    height: 23px;
    left: calc(50% - 97px/2 - 0.5px);
    top: 91px;

    font-family: 'The Jamsil OTF';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
    /* or 200% */
    display: flex;
    align-items: center;
    text-align: center;

    /* On Background/1 */
    color: #252525;

    z-index: 100;

}

.s0 {
    background-image: url("../../graphic_assets/size/2_1.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: 172px;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}
.s0.active {
    background-image: url("../../graphic_assets/size/2_1_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}

.s1 {
    background-image: url("../../graphic_assets/size/2_2.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: 172px;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}
.s1.active {
    background-image: url("../../graphic_assets/size/2_2_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}

.s2 {
    background-image: url("../../graphic_assets/size/2_3.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: 172px;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}
.s2.active {
    background-image: url("../../graphic_assets/size/2_3_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}

.s3 {
    background-image: url("../../graphic_assets/size/2_4.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: 172px;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}
.s3.active {
    background-image: url("../../graphic_assets/size/2_4_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}

.s4 {
    background-image: url("../../graphic_assets/size/2_5.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: 172px;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}
.s4.active {
    background-image: url("../../graphic_assets/size/2_5_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}

.s5 {
    background-image: url("../../graphic_assets/size/2_6.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: 172px;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}
.s5.active {
    background-image: url("../../graphic_assets/size/2_6_selected.svg");
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size: contain;
    background-position: center center;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    width: 184px;
    height: 282px;
    margin: 10px;
}