body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "The Jamsil OTF";
  font-weight: normal;
  src: url("./fonts/The\ Jamsil\ OTF\ 4\ Medium.otf") format("opentype");
}

.backrec {
  /* Rectangle 66 */
  position: absolute;
  width: 1366px;
  height: 737px;
  left: 0px;
  top: 287px;
  z-index: -100;
  background: #F1F8F8;
}

.container {
  position: absolute;
  width: 1366px;
  height: 362px;
  top: 160px;
  z-index: -50;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 32px;
}

.number {
  /* Question.1 */

  position: absolute;
  width: 120px;
  height: 21px;
  left: 116px;
  top: 60px;

  font-family: 'The Jamsil OTF';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  /* or 240% */
  display: flex;
  align-items: center;

  color: rgba(18, 63, 60, 0.75);
}

.question {
  /* 새를 관찰한 서식지는 어디였나요? */

  position: absolute;
  width: 800px;
  height: 29px;
  left:116px;
  top: 95px;

  font-family: 'The Jamsil OTF';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 48px;
  /* or 141% */
  display: flex;
  align-items: center;

  /* On Background/1 */
  color: #252525;


}

.nextBtn {
  background-image: url("../public/graphic_assets/buttons/NextBut.svg");
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-size: contain;
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  position: absolute;
  width: 281.67px;
  height: 65px;
  bottom: 128px;
  left: 543px;
  padding: 0px;
}

.startBtn{
  background-image: url("../public/graphic_assets/buttons/StartBut.svg");
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-size: contain;
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  position: absolute;
  width: 523px;
  height: 65px;
  top: 860px;
  left: 421px;
  padding: 0px;
}

.returnBtn {
  background-image: url("../public/graphic_assets/buttons/ReturnBut.svg");
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-size: contain;
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  width: 281.67px;
  height: 65px;
  z-index: 100;
  position: absolute;
  top: 883px;
  left: 835px;
  padding: 0px;
}

